p {
    border: 1px solid black;
    background: rgba(216, 216, 216, 0.253);
    width: 60%;
    height: 40px;
    display: flex;
    align-items: center;

}

button {
    cursor: pointer;
  
 
    
}