*{
    box-sizing: border-box;
 
}

caixa{
    display: flex;
    margin-top: 10px;
    margin: auto;
   
}
form{
  margin-top: 10px;
  margin: auto;
}
label{
    
}
input{
    width: 95%;
    padding: 5px;
}
button{
    margin-top: 10px;
    width: 95%;
    font-size: 20px;
}